@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        src: url(./assets/fonts/Montserrat-Regular.ttf) format('truetype');
    }

    @font-face {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        src: url(./assets/fonts/Montserrat-Bold.ttf) format('truetype');
    }

    @font-face {
        font-family: 'NotoSans';
        font-style: normal;
        font-weight: 400;
        src: url(./assets/fonts/NotoSans-Regular.ttf) format('truetype');
    }

    @font-face {
        font-family: 'NotoSans';
        font-style: normal;
        font-weight: 500;
        src: url(./assets/fonts/NotoSans-Medium.ttf) format('truetype');
    }

    @font-face {
        font-family: 'NotoSans';
        font-style: normal;
        font-weight: 700;
        src: url(./assets/fonts/NotoSans-Bold.ttf) format('truetype');
    }
}